@import url(./home/global.css);
@import url(./home/header.css);
@import url(./home/footer.css);

/* Utilitários */
@import url(./utilidades/tipografia.css);
@import url(./utilidades/componentes.css);
@import url(./utilidades/cores.css);

.bicicletas-container {
    padding: 100px 0px;
}

.nimbus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.item-bg {
    width: 100%;
    background-color: var(--cinzaE);
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 0px 30px 0px;
    gap: 40px;
    box-shadow: inset 200px 0 0 white, 1000px 0 0 var(--cinzaE);
}


.nimbus-texto h3, .nimbus-texto > p {
    margin-bottom: 28px;
    line-height: 1.25;
}

.nimbus-texto h3 {
    position: relative;
}

.container-lista {
    display: grid;
    grid-template-columns: 1fr auto;
}

.container-botao {
    place-self: end;
}

.bicileta-item li {
    padding-bottom: 20px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.bicileta-item img {
    width: 24px;
}

@media(max-width: 800px) {
    .bicicletas-container {
        padding: 50px 0px;
    }

    .nimbus {
    grid-template-columns: 1fr;
    gap: 40px;
}

    .nimbus-texto {
        padding: 0 20px;
    }

    .item-bg {
    background-color: var(--cinzaE);
    grid-column: initial;
    display: grid;
    grid-template-columns: 1fr;
    
    box-shadow: inset 0 0 0 white, 1000px 0 0 var(--cinzaE);
}
}

@media (max-width: 600px) {
    .botao {
        font-size: 1rem;
        padding: 10px 12px;
    }

    .container-lista {
    grid-template-columns: 1fr;
}
    
    .container-botao {
    place-self: start;
}

}


