@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    text-decoration: none;
    list-style-type: none;
}

a {
    display: inline-block;
    color: inherit;
}

img {
    display: block;
}

body {
    padding-bottom: 500px;
    font-family: Arial, Helvetica, sans-serif;
}