.introducao-bg {
    background-color: black;
    color: white;
    box-shadow: inset 0 -120px 0 #ffffff;
}

.introducao {
    padding: 0px 20px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: calc(80px + 120px);
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
}

.introducao-conteudo p {
    margin-bottom: 20px;
    color: var(--cinza);
}

.introducao-conteudo a {
    background: linear-gradient(#ffbf00, #f2a50c);
    color: #332200;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.introducao-conteudo a:hover {
    background: linear-gradient(#ffb600, #e59317);
}

.introducao-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:1200px) {
    .introducao h1 {
        font-size: 48px;
    }

    .introducao p {
        font-size: 18px;
    }
}

@media (max-width:800px) {
    .introducao-bg {
        background-color: #121212;
        padding-top: 40px;
    }

    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
        box-shadow: inset 0 0 0 white;
    }

    .introducao-conteudo {
        padding-bottom: calc(80px + 120px);
        padding-bottom: 0px;
    }

    .introducao h1 {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .introducao-img img {
        width: 100%;
        height: 300px;
    }
}

@media (max-width:800px) {

    .introducao-conteudo a {
        font-size: 1rem;
        padding:  12px 16px;
    }

}

