@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a {
    display: inline-block;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

header {
    background-color: black;
}



.header {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


.header-menu a {
    font-size: 1.125rem;
    display: inline-block;
    border-radius: 8px;
    padding: 12px 12px;
    color: white;
    transition: 0.3s;
    position: relative;
}

.header-menu a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
}

.header-menu a:hover::after {
    width: calc(100% - 24px);
    background-color: white;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        background-color: #111111;
        padding: 12px 16px;
        border-radius: 8px;
    }

    .header-menu a:hover {
    background-color: #2e2e2e;
}

    .header-menu a::after {
    display: none;
}
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu a {
    font-size: 14px;
    padding: 8px 12px;
    }
}

.introducao-bg {
    background-color: black;
    color: white;
}

.introducao {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    padding: 0 20px;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 80px;
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
}

.introducao-conteudo h1 span {
    color: #ffbb00;
}

.introducao-conteudo p {
    margin-bottom: 20px;
    line-height: 1.2;
    color: #b2b2b2;
}

.introducao-conteudo a {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.33;
    text-transform: uppercase;
    background: linear-gradient(#ffbf00, #f2a50c);
    color: #332200;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.introducao-conteudo a:hover {
    background: linear-gradient(#ffb600, #e59317);

}


