.container-max {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

.botao {
    font: 600 1.250rem/1.33 "Poppins", sans-serif;
    text-transform: uppercase;
    max-width: max-content; 
    display: inline-block;
    color: var(--black);
    padding: 16px 32px;
    border-radius: 4px;
}

.b-cinza {
    background-color: var(--cinza);
    color: var(--cinzaCC);
}

.b-cinza:hover {
    background-color: var(--cinzaC);
    color: var(--cinzaCC);
}

.b-laranja {
    background-color: var(--laranja);
    color: var(--black);
}

.ponto-final {
    color: #ffbb00;
}

.link {
    margin-bottom: 80px;
}

.link::after {
    content: "";
    display: block;
    margin-top: 8px;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    transition: 0.3s;

}

.link:hover::after {
    color: var(--branco);
}