.container-max {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

.botao {
    font: 600 1.250rem/1.33 "Poppins", sans-serif;
    text-transform: uppercase;
    max-width: max-content; 
    display: inline-block;
    color: var(--black);
    padding: 16px 32px;
    border-radius: 4px;
    transition: 0.2s;
}

/* Botao com seta */

.botao-seta {
    font: 600 1.250rem/1.33 "Poppins", sans-serif;
    text-transform: uppercase;
    max-width: max-content; 
    display: inline-block;
    color: var(--black);
    padding: 16px 32px;
    border-radius: 4px;
    transition: 0.2s;
    display: flex;
    align-items: center;
}

.botao-seta::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    transition: 0.5s;
    background: url(../../img/icones/seta.svg);
}

.botao-seta:hover::after {
    transform: translateX(5px) scaleX(160%) ;
    
}

/* Divisão */

.b-cinza {
    background-color: var(--cinza);
    color: var(--cinzaCC);
}

.b-cinza:hover {
    background-color: var(--cinzaC);
    color: var(--cinzaCC);
}

.b-laranja {
    background-color: var(--laranja);
    color: var(--black);
}

.b-laranja:hover {
    background-color: var(--laranjaC);
}

.ponto-final {
    color: #ffbb00;
}

.link {
    margin-bottom: 80px;
}

.link::after {
    content: "";
    display: block;
    margin-top: 8px;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    transition: 0.3s;

}

.link:hover::after {
    color: var(--branco);
}

/* Títulos internos */

.titulos-bg {
    background-color: var(--cinzaE);
    padding: 60px 0px;
}

.titulos p {
    margin-bottom: 4px;
}

@media (max-width: 800px) {
    .titulos-bg {
        padding: 40px 0px;
    }

    .titulos p {
        font-size: 1rem;
        font-weight: 400;
    }
}

/* Bicicletas */

.preco {
    background-color: var(--black);
    color: white;
    padding: 6px 8px;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: -40px;
    top:16px;
    transform: translate(-100%, 0);
}

@media (max-width: 800px) {
    .preco {
    transform: translate(0, 0);
    top: -100px;
    left: -20px;
}
    
}

.quadradinho::before {
    content: "";
    display: block;
    background-color: var(--laranja);
    width: 12px;
    height: 8px;
    margin-bottom: 4px;
}