:root {
    --black:#000;
    --cinzaE:#111;
    --cinza:rgb(88, 88, 88);
    --cinzaC:rgb(147, 147, 147);
    --cinzaCC:rgb(216, 216, 216);

    --laranja: #ffbb00;
    --laranja2: #E4A30B;
    --laranjaE: #9b7201;
    --branco: #fff;
}

.cinzaE {
    color: #111;
}

.cinza {
    color: var(--cinza);
}

.cinzaC {
    color: var(--cinzaC);
}

.laranja {
    color: #ffbb00;
}

.laranjaE {
    color: #9b7201;
}

.branco {
    color: #fff;
}

