:root {
    --black:#000;
    --cinzaE:#111;
    --cinzaSE: #595959;
    --cinza:rgb(88, 88, 88);
    --cinzaC:rgb(147, 147, 147);
    --cinzaCC:rgb(216, 216, 216);
    --cinzaB2: #b2b2b2;
    --cinzaC9:  #404040;
    --cinzaF7: #f7f7f7;
    --cinza2E: #2e2e2e;
    --cinzaC4: #CCCCCC;
    --cinzaED: #EDEDED;
    --cinza9C: #9C9C9C;


    --laranja: #ffbb00;
    --laranja3:#ffb700;
    --laranja2: #E4A30B;
    --laranjaC: #ffd04e;
    --laranjaE: #9b7201;
    --branco: #fff;
}

.black {
    color: var(--black);
}

.cinzaB2 {
    color: var(--cinzaB2);
}

.cinzaED {
    color: var(--cinzaED);
}

.cinzaC4 {
    color: var(--cinzaC4);
}

.cinza9C {
    color: var(--cinza9C);
}

.cinza2E {
    color: var(--cinza2E);
}

.cinzaE {
    color: #111;
}

.cinza {
    color: var(--cinza);
}

.cinzaSE {
    color: var(--cinzaSE);
}

.cinzaC {
    color: var(--cinzaC);
}

.cinzaCC {
    color: var(--cinzaCC);
}

.cinzaC9 {
    color: var(--cinzaC9);
}

.laranja {
    color: #ffbb00;
}

.laranjaE {
    color: #9b7201;
}

.branco {
    color: #fff;
}

