.upper {
    text-transform: uppercase;
}

.font-botao1 {
    font: 600 1.125rem/1.33 "Poppins", sans-serif;
    text-transform: uppercase;   
}

/* Fontes*/
.font-Roboto-416 {
    font: 400 1rem/1.2 "Roboto", sans-serif
}

.font-Roboto-M24 {
    font: 500 1.5rem/1 "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.font-Roboto-518 {
    font: 500 1.250rem/1 "Roboto", sans-serif;
}

.font-Roboto-M24-2 {
    font: 500 1.5rem/1.3 "Roboto", sans-serif;
}

.font-Poppins-R24 {
    font: 500 1.5rem/1 "Poppins", sans-serif;
}

.font-Poppins-SB24 {
    font: 600 1.5rem/1 "Poppins", sans-serif;
}

.font-Poppins-636 {
    font: 600 2.125rem/1 "Poppins", sans-serif;
}

.font-Poppins-612 {
    font: 600 0.75/1 "Poppins", sans-serif;
}

.texto-grande {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.125;
    font-family: "Poppins", sans-serif;
}

.texto-grande2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.25;
    font-family: "Roboto", sans-serif;
}

.texto-grande3 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.25;
    font-family: "Poppins", sans-serif;
}


.font-pequena1 {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.35;
    font-family: "Poppins", sans-serif;
}

.font-pequena2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    font-family: "Roboto", sans-serif;
}

.font-pequena3 {
    font: 400 1rem/1.125 "Poppins", sans-serif;   
}

.font-pequena3 {
    font: 400 1rem/1.125 "Roboto", sans-serif;   
}

.texto-medio {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
}

.texto-medio-b {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
}

.font-media2 {
    font: 400 1rem/1.125 "Roboto", sans-serif;   
}

.font-media2-b {
    font: 600 1rem/1.125 "Roboto", sans-serif;   
}

.font-media2 {
    font: 600 1.125rem/1.3 "Poppins", sans-serif;   
}

.font-media3 {
    font: 500 1.125rem/1.35 "Roboto", sans-serif;   
}