@import url(../home/global.css);
@import url(../home/header.css);
@import url(../home/biciletas-list.css);
@import url(../home/footer.css);

/* Utilitários */
@import url(../utilidades/tipografia.css);
@import url(../utilidades/componentes.css);
@import url(../utilidades/cores.css);

    
.container-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
}

.bicicleta-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.bicicleta-destaque {
    grid-column: 1/3;
}

.bicicleta-secundaria {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.bicicleta-conteudo > p {
    margin-bottom: 20px;
}

.bicicleta-conteudo-compra img{
    width: 16px;
}

.bicicleta-conteudo-compra {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.detalhe-compra {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.detalhe {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 8px;
    background-color: black;
    padding: 4px 8px;
    border-radius: 4px;
}

.informaçoes {
    background-color: var(--black);
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    border-radius: 8px;
}

.info-titulo {
    margin-top: 40px;
    margin-bottom: 20px;
}

.informaçoes h3 {
    margin-bottom: 8px;
}

.bloco-info {
    display: grid;
    gap: 8px;
}

.informaçoes img {
    width: 24px;

}

.ficha {
    background-color: var(--black);
    padding: 32px;
    border-radius: 8px;
    display: grid;
    gap: 16px;
}

.ficha-detalhe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 8px;
}

.ficha-detalhe p + p {
    justify-self: end;
}

.ficha-detalhe {
    box-shadow: 0px 1px var(--cinzaE);
}

.ficha .ficha-detalhe:nth-last-child(1) {
    box-shadow: 0px 0px var(--cinzaE);
}

.pedale-bg {
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 100px;
    box-shadow: inset 0px 120px var(--branco);
}

.pedale-img img {
    height: 100%;
    object-fit: cover;
}

.pedale-conteudo {
    padding-top: calc(120px + 80px);
}

.pedale-conteudo h2 {
    margin-bottom: 60px;
    max-width: 20ch;
}

.pedale-conteudo p {
    margin-bottom: 30px;
}

@media (max-width:800px) {
    .container-conteudo {
        grid-template-columns: 1fr;
        direction: ltr;
    }

    .bicicleta-conteudo-compra {
        justify-content: center;
    }

    .pedale-bg {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 20px;
        box-shadow: inset 0px 120px var(--branco);
}

    .pedale-img img {
        height: 400px;
        object-fit: cover;
}

    .pedale-conteudo {
        padding: 20px 0px 0px 0px
}
}