.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--laranja);
    overflow: hidden;
}

.depoimento  img {
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: center;
}

.depoimento-conteudo p {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.125rem;
    margin-bottom: 32px;
    max-width: 32ch;
    position: relative;
}

.depoimento-conteudo p::before {
    content: "“";
    font-size: 5rem;
    color: var(--laranja2);
    position: absolute;
    left: -50px;
    top: -20px;
}

.depoimento-conteudo p::after {
    content: "”";
    font-size: 5rem;
    color: var(--laranja2);
    position: absolute;
}

@media (max-width:800px){
    .depoimento {
    grid-template-columns: 1fr;  
    }

    .depoimento img {
        max-height: 400px;
    }

    .depoimento-conteudo {
        padding: 40px 20px;
        
    }
    
    
}