.footer-bg {
    background-color: var(--black);
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 0px 40px;
    padding: 60px 0px;
    margin-bottom: 40px !important;
}

.footer-logo {
    grid-row: 1/3;
}

.footer-logo img {
    width: 135px;
    grid-column: 1/2;
    grid-row: 1/-1;
}

.footer h3 {
    margin-bottom: 32px;
}

.footer li {
    margin-bottom: 16px;
}

.footer a:hover {
    color: var(--branco);
}

.footer-contato ul{
    margin-bottom: 32px;
}

.footer-contato ul:hover {
    color: var(--branco);
}

.footer-contato li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background-color: var(--cinzaE);
    margin-top: 16px;
}

.footer-redes {
    grid-column: 2/3;
    display: flex;
    gap: 32px;
}

.footer-informacoes {
    grid-column: 3/4;
    grid-row: 1/3;
}

.footer-copy p {
    padding-top: 30px;
}

@media (max-width: 800px) {
    .footer-logo img {
        display: none;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0 !important;
    }

    .footer-contato {
        padding-left: 40px;
    }

    .footer-redes {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 40px;
    }

    .footer-informacoes {
        grid-column: 2/2;
        grid-row: 1/3;
        
    }
}

@media (max-width: 600px) {
        .footer {
            grid-template-columns: 1fr;
    }

    .footer-informacoes {
        padding-left: 40px;
        padding-top: 40px;
        grid-column: initial;
        grid-row: auto;
        
    }
        

}


