@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    text-decoration: none;
    list-style-type: none;
}

a {
    display: inline-block;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

img[src$=".jpg"] {
    border-radius: 4px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}