.seguros-bg {
    background-color: var(--cinzaE);
}

.seguros {
    padding: 60px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.seguros-item {
    background-color: var(--black);
    padding: 32px 32px 32px 60px;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 4px;
}

.seguros-item h3 {
    margin-bottom: 40px;
}

.seguros-item span {
    grid-column: 2;
    grid-row: 1/2;
    display: block;
    justify-self: end;
}

.seguros-item ul {
    grid-column: 1/-1;
    margin-bottom: 32px;

}

.seguros-item li + li {
    margin-top: 20px;
}

.seguros-item li {
    position: relative;
}

.seguros-item li::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-image: url(../../img/icones/lista.svg);
    position: absolute;
    left: -20px;
    top: 5px;
}

.seguros-item a {
    grid-column: 1/-1;
}

@media (max-width: 800px) {
    .seguros {
        grid-template-columns: 1fr;
    }
}