.tecnologia-bg {
    background-color: black;
    box-shadow: inset 0 80px var(--branco), inset 0 -80px var(--branco);
}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-conteudo {
    padding: 160px 0;
}

.tecnologia-conteudo > span {
    display: block;
    margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
    margin-bottom: 32px;
}

.tecnologia-conteudo > p {
    margin-bottom: 20px;
}

.tecnologia-conteudo img{
    width: 24px;
    margin-bottom: 8px;
}

.tecnologia-vantagens {
    display: flex;
    gap: 40px;
}

.tecnologia-vantagens h3 {
    margin-bottom: 8px;
    width: max-content;
}

.tecnologia-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

@media (max-width: 800px) {
    .tecnologia-bg {
        box-shadow: initial;
    }

    .tecnologia {
        grid-template-columns: 1fr;
    }

    .tecnologia-conteudo {
        padding: 60px 0;
    }

    .tecnologia-conteudo a {
    margin-bottom: 40px;
    }

    .tecnologia-img img {
    display: none;
}
}

@media (max-width: 600px) {
    .tecnologia-vantagens {
        flex-direction: column;
    }
}