@import url(../home/global.css);
@import url(../home/header.css);
@import url(../home/footer.css);

/* Utilitários */
@import url(../utilidades/tipografia.css);
@import url(../utilidades/componentes.css);
@import url(../utilidades/cores.css);

main {
    background: linear-gradient(180deg, var(--cinzaE)750px, var(--cinzaED)0px);
}

.titulo {
    margin-bottom: 60px;
}

/* Grid dos Formulários */
.container-pai {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.container-form {
    grid-column: 1/6;
}

.form-dados-pessoa {
    grid-column: 6/-1;
}
/* -- */


.container-form {
    background-color: var(--black);
    padding: 60px 60px;
    border-radius: 4px 0 0 4px;
}

.form-bik-seg {
    margin-bottom: 60px;
}

.form-bik-seg h3 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 28px;
}

.container-bik-seg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
    
}


/* Aparecer e desaparecer o formulário Bik - Seguro */
.seguros-container {
    display: none;
}

form:has(#seguro:checked) .seguros-container {
    display: block;
}

#form-bicicleta {
    display: none;
}

form:has(#bikcraft:checked) #form-bicicleta {
    display: block;
}

.detalhe-bicleta {
    display: none;
}

.botao-form:has(input:checked) .detalhe-bicleta {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 12px 12px 12px 20px;
    align-items: center;
    gap: 12px;
    background-color: var(--branco);
    border-radius: 0 0 8px 8px;
}

/* Botao */
.botao-form {
    background-color: var(--cinza2E);
    border-radius: 8px;
    cursor: pointer;
}

.botao-form:has(input:checked) {
    background-color: var(--branco);
    color: var(--cinzaE);
}

.botao-form:has(input:checked) label {
    color: var(--cinzaE);
}

.botao-form:has(input:focus) {
        box-shadow: 0 0 0 2px var(--laranja), 0 0 0 3px var(--cinzaED);
}

.botao-form:hover {
    background-color: var(--cinzaC9);
}

.botao-form label {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box;
}

.botao-form label span {
    display: inline-block;
    justify-self: end;
    display: none;
}

.botao-form input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.botao-form label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--cinza9C);
    background-color: var(--cinzaCC);
    border-radius: 50%;
    margin-right: 8px;
}

.botao-form input:checked ~ label::before {
    border: 1px solid var(--cinza2E);
    box-shadow: inset 0 0 0 3px var(--branco),inset 0 0 0 6px var(--cinza2E);
}

.botao-form input:checked ~ label > span {
    display: inline-block;
}
/* --- */

.container-bik-bik {
    display: grid;
    gap: 20px;
}

.detalhe-bicleta ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 4px;
    
}

.detalhe-bicleta ul li img {
    width: 12px;

}

.detalhe-bicileta img {
    width: 100%;
}



/* Container Dados Pessoa */

.form-dados-pessoa {
    background-color: var(--branco);
    padding: 60px 60px;
    border-radius: 0 4px 4px 0;
}

.form-dados-pessoa h3 {
    margin-bottom: 28px;
    position: relative;
}

.form-dados-pessoa label {
    display: block;
    margin-bottom: 12px;
}

.form-dados-pessoa input {
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--cinzaCC);
    background-color: var(--cinzaED);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin-bottom: 24px;
}

.form-dados-pessoa input:focus{
    outline: none;
    border: 1px solid var(--laranja);
    box-shadow: 0 0 2px var(--laranja);
    background-color: var(--branco);
}

.entregas {
    margin-top: 60px;
}

.container-nome {
    display: flex;
    gap: 20px;
}

.container-nome div {
    width: 100%;
}

.container-entrega {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 32px;
}

.container-entrega input {
    margin-bottom: 0;
}

.termos {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
    
}

.termos input {
    width: 28px;
    height: 28px;
    margin: 0;
}

.termos label {
    margin: 0;
}

.logradouro, .email {
    grid-column: 1/3;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;}

/* Detalhe Laranja */
.form-bik-seg h3::before, .form-dados-pessoa h3::before {
    content: "";
    display: block;
    width: 4px;
    height: 12px;
    background-color: var(--laranja);
    position: absolute;
    top: -1px;
    left: -12px;
}
/* -- */